@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');
@import './_variables';

html, body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;

  &-content {
    text-align: center;
  }
}

.position-ref {
  position: relative;
}

.title {
  font-size: 84px;
}

.links {
  a {
    color: $body-color;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.m-b-md {
  margin-bottom: 30px;
}